<!DOCTYPE html>
<html>
<head>
    <script>
        var urlConsultarRendimento = '@Url.Action("ConsultarRendimento", "Principal", new { area = "" })';
        var urlListRendimento = '@Url.Action("listarRendimento", "Principal", new { area = "" })';
    </script>
</head>

<body>    
        <table id="gridRendimento" style="width:100%" class="table"></table>
</body>
</html>

