
<html>
<head>
    <script src="~/Scripts/ScriptTribuno/Informativos.js"></script>
    <script src="~/Scripts/ScriptTribuno/GridOperacao.js"></script>
</head>

<body>
    <div id="Informativo">
        <div class="container-fluid">
            <div class="row">
                <div class="text-center">
                    <h2 id="mes_Referente">@ViewData.Model.Mes_ref</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-6 text-right col-xs-6">
                    <button class="btn btn-xs btn-info" onclick="AnteriorMes()">Anterior</button>
                </div>
                <div class="col-sm-6 text-left col-xs-6">
                    <button class="btn btn-xs btn-info" onclick="ProximoMes()">Proximo</button>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white">Rendimento</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                        <div class="card-body text-center">
                            <label id="AddRendimento"><a onclick="AddOperacao('Rendimento')" style="cursor:pointer">+ Adicionar Rendimento</a></label>
                            <h3 id="Label_Valor">R$@Convert.ToDouble(ViewData.Model.Rendimento).ToString(@"#,###.##")</h3>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white">Despesa</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                        <div class="card-body text-center">
                            <label id="AddRendimento"><a onclick="AddOperacao('Passivo')" style="cursor:pointer">+ Adicionar Despesa</a></label>
                            <h3 id="Label_Valor">R$@Convert.ToDouble(ViewData.Model.Despesa).ToString(@"#,###.##")</h3>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white">Lucro</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                        <div class="card-body text-center">
                            <br>
                            <h3 id="Label_Valor">R$@Convert.ToDouble(ViewData.Model.Receita).ToString(@"#,###.##")</h3>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white">Lucro</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                        <div class="card-body text-center">
                            <br>
                            <h3 id="Label_Valor">%@Convert.ToDouble(ViewData.Model.Lucro).ToString(@"#.##")</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
