
<html>
<head>
    <script src="~/Scripts/ScriptTribuno/Informativos.js"></script>
    <script src="~/Scripts/ScriptTribuno/ListarDivida.js"></script>
</head>

<body>
    <div id="Informativo">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-offset-0 text-center">
                    <h2 id="mes_Referente">@ViewData.Model.Mes_ref</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-6 text-right col-xs-6">
                    <button class="btn btn-xs btn-info" onclick="AnteriorMes()">Anterior</button>
                </div>
                <div class="col-sm-6 text-left col-xs-6">
                    <button class="btn btn-xs btn-info" onclick="ProximoMes()">Proximo</button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-center">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Rendimento</h3>                            
                        </div>
                        <div class="panel-body">
                            <label id="AddRendimento"><a onclick="AddOperacao('Rendimento')" style="cursor:pointer">+ Adicionar Rendimento</a></label>      
                            <h3 id="Label_Valor">R$@Convert.ToDouble(ViewData.Model.Rendimento).ToString(@"#,###.##")</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 text-center">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Despesa</h3>
                        </div>
                        <div class="panel-body">
                            <label id="AddRendimento"><a onclick="AddOperacao('Passivo')" style="cursor:pointer">+ Adicionar Despesa</a></label>
                            <h3 id="Label_Valor">R$@Convert.ToDouble(ViewData.Model.Despesa).ToString(@"#,###.##")</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 text-center">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Lucro</h3>
                        </div>
                        <div class="panel-body">
                            <br>
                            <h3 id="Label_Valor">R$@Convert.ToDouble(ViewData.Model.Receita).ToString(@"#,###.##")</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 text-center">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">%Lucro</h3>
                        </div>
                        <div class="panel-body">
                            <br>
                            <h3 id="Label_Valor">%@Convert.ToDouble(ViewData.Model.Lucro).ToString(@"#.##")</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
